# basic/required
deb {{nexus_proxy_proto}}://{{nexus_proxy}}:{{nexus_proxy_port}}/repository/apt-ubuntu-focal/ focal main restricted multiverse universe
deb {{nexus_proxy_proto}}://{{nexus_proxy}}:{{nexus_proxy_port}}/repository/apt-ubuntu-focal-backports/ focal-backports main restricted multiverse universe
deb {{nexus_proxy_proto}}://{{nexus_proxy}}:{{nexus_proxy_port}}/repository/apt-ubuntu-focal-security/ focal-security main restricted  multiverse universe
deb {{nexus_proxy_proto}}://{{nexus_proxy}}:{{nexus_proxy_port}}/repository/apt-ubuntu-focal-updates/ focal-updates main restricted multiverse universe